---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import '../styles/global.css';
import Aboutme from '../components/aboutme.astro';
import Work from '../components/work.astro';
import Main from '../layout/main.astro';

// Define the teamColors object
const teamColors = {
  warriors: { base: '#1D428A', accent: '#FFC72C', logo: '/Images/Currylogo.webp' },
  'mclaren-2024': { base: '#FF8700', accent: '#000000', logo: '/Images/Landologo.webp' },
  'malboro-mclaren': { base: '#FF0000', accent: '#FFFFFF', logo: '/Images/Sennalogo.webp' },
  'hakkinen-mclaren': { base: '#C0C0C0', accent: '#000000', logo: '/Images/Mikalogo.webp' }
};
---
<script src="//unpkg.com/alpinejs" defer></script>
<Main title="Khalid" description="Welcome to my personal portfolio"> 
    <style>
      html {
        scroll-behavior: smooth;
      }
      
      /* Responsive adjustments */
      @media (max-width: 768px) {
        body {
          font-size: 14px;
        }
        .container {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      
      @media (max-width: 480px) {
        body {
          font-size: 12px;
        }
      }
      
      @media (max-width: 200px) {
        body {
          font-size: 10px;
        }
        .container {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main 
    id="home"
    class="min-h-screen w-full mt-10 bg-[#F5F5F5] relative overflow-hidden pt-16 md:pt-20"
    x-data="{
      hover: false, 
      loaded: false, 
      selectedTeam: null,
      teamColors: {
        warriors: { base: '#1D428A', accent: '#FFC72C' },
        'mclaren-2024': { base: '#FF8700', accent: '#000000' },
        'malboro-mclaren': { base: '#FF0000', accent: '#FFFFFF' },
        'hakkinen-mclaren': { base: '#C0C0C0', accent: '#000000' }
      },
      teamImages: {
        warriors: '/Images/Splashbros.webp',
        'mclaren-2024': '/Images/mcl24.webp',
        'malboro-mclaren': '/Images/Marlboro.webp',
        'hakkinen-mclaren': '/Images/mikapic.webp'
      }
    }"
    :style="selectedTeam ? `background-color: ${teamColors[selectedTeam].base}` : ''"
    x-init="
      setTimeout(() => loaded = true, 100);
      window.addEventListener('team-selected', (event) => {
        selectedTeam = event.detail.team;
      });
    "
  >
    <div>
    <Navbar selectedTeam="{selectedTeam}" teamColors="{teamColors}" />
    <section id="home">
      <Hero selectedTeam="{selectedTeam}" teamColors="{teamColors}" />
    </section>
    <section id="aboutme">
      <Aboutme selectedTeam="{selectedTeam}" teamColors="{teamColors}" />
    </section>
    <section id="work">
      <Work selectedTeam="{selectedTeam}" teamColors="{teamColors}" />
    </section>
  </main>
  </body>
</Main>